<%= render "layouts/banner" %>
<div class="full-row">
  <div class="container about-home">
      <div class="title-picture">
          <h2><%= t "WELCOME_TO_CONFASCHE" %></h2>
          <%= link_to image_tag("logo.png", alt:"", class: "img-responsive bg-title-picture"), "#" %>
      </div>
      <p><%= t "vietnam_unique_chapter" %></p>
      <p><%= t "lets_begin" %></p>
  </div>
</div>
<%= render "layouts/search_form" %>
<%= render "static_pages/our_destination" %>
