<% form_url = request.original_url == new_hotel_room_url ? hotel_rooms_url : hotel_room_url %>
<%= form_for @room, url: form_url do |f| %>
  <%= render "shared/errors_messages", object: f.object %>

  <%= f.hidden_field :hotel_id, value: @current_hotel.id %>

  <%= f.label :name, t(".name") %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :size, t(".size") %>
  <%= f.text_field :size, class: "form-control" %>

  <%= f.label :facilities, t(".facilities") %>
  <%= f.text_field :facilities, class: "form-control" %>

  <%= f.label :description, t(".description") %>
  <%= f.text_field :description, class: "form-control" %>

  <%= f.label :max_persons, t(".max_persons") %>
  <%= f.number_field :max_persons, class: "form-control" %>

  <%= f.label :price, t(".price") %>
  <%= f.number_field :price, step: :any, class: "form-control" %>
  <% if request.original_url == new_hotel_room_url %>
    <%= f.fields_for :images do |image_form| %>
      <div class="field">
        <%= image_form.file_field :picture, multiple: true, name: "room[images_attributes][][picture]" %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
