<% provide :title, t("password_reset") %>
<div class="full-row page-content">
    <div class="container no-padding">
        <div class="main-contain-wrapper">
            <div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1  m-login__wrapper">
                <div class="m-login__body">
                    <div class="m-login__signin">
                        <div class="m-login__title">
                            <h3><%= t "reset_pass" %></h3>
                        </div>
                        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                          <%= render "devise/shared/error_messages", resource: resource %>
                          <%= f.hidden_field :reset_password_token %>

                          <div class="field">
                            <%= f.label t("password"), class: "form-text" %><br />
                            <% if @minimum_password_length %>
                              <em>(<%= @minimum_password_length %> <%= t "characters_minimum" %>)</em><br />
                            <% end %>
                            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
                          </div>

                          <div class="field">
                            <%= f.label t("password_confirmation"), class: "form-text" %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                          </div>

                          <div class="actions">
                            <%= f.submit t("submit"), class: "btn btn-primary" %>
                          </div>
                        <% end %>
                        <br />
                        <%= render "users/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
