<% provide :title, t("password_reset") %>
<div class="full-row page-content">
    <div class="container no-padding">
        <div class="main-contain-wrapper">
            <div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1  m-login__wrapper">
                <div class="m-login__body">
                    <div class="m-login__signin">
                        <div class="m-login__title">
                            <h3><%= t "reset_pass" %></h3>
                        </div>
                        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                          <%= render "devise/shared/error_messages", resource: resource %>

                          <div class="field">
                            <%= f.label t("email"), class: "form-text" %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                          </div>

                          <div class="actions">
                            <%= f.submit t("send_reset_password"), class: "btn btn-primary" %>
                          </div>
                        <% end %>

                        <%= render "users/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
