<div class="col-xs-12 no-padding result-slht-table">
    <table class="table table-bordered table-responsive slht-table">
        <thead>
            <th><%= t "Guests" %></th>
            <th><%= t "Room_Types" %></th>
            <th><%= t "Price_per_night" %></th>
            <th class="slht-th-choices"><%= t "Facilities" %></th>
            <th><%= t "Select_Room" %></th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td class="slht-td-sleep">
                    <div class="slht-list-sleep slht-tooltip" data-title="Max persons: 2">
                        <span class="fa fa-user"></span>
                        <span class="fa fa-user"></span>
                    </div>
                </td>
                <td class="slht-td-roomtype">
                    <a href="#" class="text-blue" data-toggle="modal" data-target="#modal_Room-desc"><b><i class="fa fa-caret-right text-yellow"></i> Pool Villa</b></a> - Room size: <span class="text-blue">30m2</span><br/>
                    <p class="text-violet">Recommended for 2 adults, 1 child</p>
                    <p>1 extra-large double bed <i class="icon-double"></i> or 2 single beds <i class="icon-bed"></i><i class="icon-bed"></i></p>
                    <div class="col-xs-12 no-padding slht-list-facilities">
                        <span><i class="icon-flattv"></i> Flat-screen</span>
                        <span><i class="icon-airconditioning"></i> Air conditioning</span>
                        <span><i class="icon-private-shower"></i> Private bathroom</span>
                        <span><i class="icon-resort"></i> Bacony</span>
                        <span><i class="fa fa-wifi"></i> Free wifi</span>
                        <a href="#collapse_addFacilities-1" class="text-blue slht-more-facilities" data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample">More</a>
                        <div class="col-xs-12 no-padding collapse collapse_add_facilities" id="collapse_addFacilities-1">
                            <label class="slht-tooltip" data-title="Surcharge: 1$"><input type="checkbox"/> <span><i class="icon-flattv"></i> Flat-screen</span></label>,
                            <label class="slht-tooltip" data-title="Surcharge: 0.83$"><input type="checkbox"/> <span><i class="icon-airconditioning"></i> Air conditioning</span></label>,
                        </div>
                    </div>
                    <p>Prices are per room for 3 nights</p>
                    <p><b>Included</b>: 10% VAT, 5% Property service charge</p>
                </td>
                <td class="slht-td-price">
                    <p class="text-blue">VND</p>
                    <h3 class="text-yellow"><b>1,133,000</b></h3>
                </td>
                <td class="slht-td-choices">
                    <ul>
                        <li>Good breakfast US$26</li>
                        <li>FREE cancellation before 23:59 on 20 August 2018</li>
                        <li>NO PREPAYMENT NEEDED - pay at the property</li>
                    </ul>
                </td>
                <td class="slht-td-room">
                    <select name="" id="" class="btn btn-default btn-sm">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                    </select>
                </td>
                <td class="slht-td-total" rowspan="400">
                    <p>1 room for</p>
                    <p class="slht-btn-price">VND <span>1,133,000</span></p>
                    <p><span class="icon-coffee text-violet"></span> Breakfast included</p>
                    <a href="check.html" class="form-control btn btn-blue btn-reserve">I'll reserve</a>
                </td>
            </tr>
            <tr>
                <td class="slht-td-sleep">
                    <div class="slht-list-sleep slht-tooltip" data-title="Max persons: 3">
                        <span class="fa fa-user"></span>
                        <span class="fa fa-user"></span>
                        <span class="fa fa-user"></span>
                    </div>
                </td>
                <td class="slht-td-roomtype">
                    <a href="#" class="text-blue" data-toggle="modal" data-target="#modal_Room-desc"><b><i class="fa fa-caret-right text-yellow"></i> Deluxe Triple Room with Garden View</b></a>    -   Room size: <span class="text-blue">30m2</span><br/>
                    <p class="text-violet">Recommended for 2 adults, 1 child</p>
                    <p>1 extra-large double bed <i class="icon-double"></i> or 2 single beds <i class="icon-bed"></i><i class="icon-bed"></i></p>
                    <div class="col-xs-12 no-padding slht-list-facilities">
                        <span><i class="icon-flattv"></i> Flat-screen</span>
                        <span><i class="icon-airconditioning"></i> Air conditioning</span>
                        <span><i class="icon-private-shower"></i> Private bathroom</span>
                        <span><i class="icon-resort"></i> Bacony</span>
                        <span><i class="fa fa-wifi"></i> Free wifi</span>
                        <a href="#collapse_addFacilities-2" class="text-blue slht-more-facilities" data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample">More</a>
                        <div class="col-xs-12 no-padding collapse collapse_add_facilities" id="collapse_addFacilities-2">
                            <label class="slht-tooltip" data-title="Surcharge: 1$"><input type="checkbox"/> <span><i class="icon-flattv"></i> Flat-screen</span></label>,
                            <label class="slht-tooltip" data-title="Surcharge: 0.83$"><input type="checkbox"/> <span><i class="icon-airconditioning"></i> Air conditioning</span></label>,
                        </div>
                    </div>
                    <p>Prices are per room for 3 nights</p>
                    <p><b>Included</b>: 10% VAT, 5% Property service charge</p>
                </td>
                <td class="slht-td-price">
                    <p class="text-blue">VND</p>
                    <h3 class="text-yellow"><b>1,133,000</b></h3>
                </td>
                <td class="slht-td-choices">
                    <ul>
                        <li>Good breakfast US$26</li>
                        <li>FREE cancellation before 23:59 on 20 August 2018</li>
                        <li>NO PREPAYMENT NEEDED - pay at the property</li>
                    </ul>
                </td>
                <td class="slht-td-room">
                    <select name="" id="" class="btn btn-default btn-sm">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                    </select>
                </td>

            </tr>
        </tbody>
    </table>
</div>
