<div class="full-row form_tour_search">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <!--<form id="tour_search_form" name="tour_search_form" method="get" action="">-->
        <%= form_tag search_path, method: :get, id:"tour_search_form" do %>
            <div class="tour_search_wrapper">
                <div class="col-xs-12 col-sm-3 one_fourth">
                    <label for="keyword"><%= t "Destination" %></label>
                    <!--<input id="keyword" class="form-control" name="keyword" type="text" placeholder="City, region or keywords">-->
                    <%= text_field_tag :name, params[:name], class:"form-control", placeholder:"City, region or keywords" %>
                </div>
                <div class="col-xs-12 col-sm-3 one_fourth">
                    <label for="col-xs-12 start_date"><%= t "Date" %></label>
                    <div class="row">
                        <div class="col-xs-6 start_date_input">
                            <%= date_field_tag :from, params[:from], :value => Time.now.strftime('%Y-%m-%d'), placeholder:"From", class:"form-control hasDatepicker"%>
                        </div>
                        <div class="col-xs-6 end_date_input">
                            <%= date_field_tag :to, params[:to], placeholder:"To", class:"form-control hasDatepicker"%>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 one_fourth">
                    <label for="guests"><%= t "Guests" %></label>
                    <input id="guests" class="form-control" name="guests" type="text" placeholder="0 - Adults">
                </div>
                <div class="col-xs-12 col-sm-3 one_fourth last">
                    <input id="tour_search_btn" class="btn btn-blue" type="submit" value="Search">
                </div>
            </div>
        <% end %>
        <!--</form>-->
    </div>
</div>
