<p><%= t "welcome" %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t "being_changed" %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t "has_changed" %> <%= @resource.email %>.</p>
<% end %>
