<p><%= t "hello" %> <%= @resource.email %>!</p>

<p><%= t "to_reset_your_password" %></p>

<p><%= link_to t("reset_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "password_reset_remind" %></p>
